$body-background-color: #F7F6FB;
$sidebar-color: #2A223A;
$search-background-color: #FFFFFF;

$body-text-color: #2A223A;
$body-heading-color: #7A5FFF;

$link-color: #7A5FFF;
$link-hover-color: #C69CFF;

$btn-primary-color: #FFFFFF;
$btn-primary-background-color: #7A5FFF;
$btn-primary-border-color: #7A5FFF;

$nav-child-link-color: #C69CFF;

$accent-000: #F7F6FB;
$accent-100: #E4D9FF;
$accent-200: #C69CFF;
$accent-300: #7A5FFF;
$accent-400: #4D3BAF;
$accent-500: #2A223A;
