$color-scheme: dark;

// Core colors
$body-background-color: #000000; 
$sidebar-color: #000000; 

$body-heading-color: #ffffff;
$body-text-color: #e6e6e6;

$link-color: #9b5cff;
$nav-child-link-color: #cbaaff;

// UI elements
$base-button-color: #1a1a1a;
$btn-primary-color: #ffffff;

// Code blocks
$code-background-color: #161616; 
$code-linenumber-color: #cfcff0;

// Feedback + tables
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: #0d0d0d;

// Search
$search-background-color: #0d0d0d;
$search-result-preview-color: #faf7ff; 

// Borders
$border-color: #1a1a1a;


@import "./vendor/OneDarkJekyll/syntax";
