$body-background-color: #0D0D0D;
$sidebar-color: #000000;
$search-background-color: #1A1A1A;

$body-text-color: #E6E6E6;
$body-heading-color: #FFFFFF;

$link-color: #9B5CFF; 
$link-hover-color: #CBAAFF; 

$btn-primary-color: #FFFFFF;
$btn-primary-background-color: #9B5CFF;
$btn-primary-border-color: #9B5CFF;

$nav-child-link-color: #CBAAFF;

$accent-000: #000000;
$accent-100: #1A1A1A;
$accent-200: #333333;
$accent-300: #4D4D4D;
$accent-400: #666666;
$accent-500: #808080;
